version: 2.1

orbs:
  python: circleci/python@1.4.0
  gcp-cli: circleci/gcp-cli@2.2.0

parameters:
  gcr_region:
    type: string
    default: gcr.io

  gcr_project_id:
    type: string
    default: fuzzylabs

  webapp_name:
    type: string
    default: fashion-mnist-webapp

  endpoint_id:
    type: string
    default: "4669916154234404864"

executors:
  google-cloud:
    docker:
      - image: google/cloud-sdk

commands:
  google_auth:
    description: Configure the Google SDK for authentication
    steps:
      - run: |
          echo $GCLOUD_SERVICE_KEY > ${HOME}/gcloud-service-key.json
          gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json
          gcloud --quiet config set project << pipeline.parameters.gcr_project_id >>

jobs:
  run-dvc-pipeline:
    executor: python/default
    working_directory: ~/project/examples/reference
    steps:
      - checkout:
          path: ~/project
      - python/install-packages:
          pkg-manager: pip
      - gcp-cli/install
      - gcp-cli/initialize
      - run:
          name: DVC pipeline run
          command: |
            dvc pull
            cp dvc-step4.yaml dvc.yaml # Prepare step4
            dvc repro
      - run:
          name: Deploy model
          command: |
            cd step4 && python3 deploy-vertex.py
  build-docker:
    executor: google-cloud
    working_directory: ~/project/examples/webapp
    steps:
      - checkout:
          path: ~/project
      - setup_remote_docker
      - run:
          name: Build Docker Image
          command: docker build -t << pipeline.parameters.gcr_region >>/<< pipeline.parameters.gcr_project_id >>/<< pipeline.parameters.webapp_name >>:${CIRCLE_SHA1} .
      - google_auth
      - run:
          name: Push to Docker Registry
          command: |
            gcloud auth configure-docker
            docker push  << pipeline.parameters.gcr_region >>/<< pipeline.parameters.gcr_project_id >>/<< pipeline.parameters.webapp_name >>:${CIRCLE_SHA1}
  cloud-run-deploy:
    executor: google-cloud
    working_directory: ~/project/examples/webapp
    steps:
      - checkout:
          path: ~/project
      - google_auth
      - run:
          name: Deploy Cloud Run
          command: |
            gcloud run deploy fashion-mnist-webapp \
            --image gcr.io/fuzzylabs/fashion-mnist-webapp \
            --set-env-vars ENDPOINT_ID=<< pipeline.parameters.endpoint_id >> \
            --platform managed \
            --project fuzzylabs --region europe-west4
workflows:
  version: 2
  reference-example:
    jobs:
      - run-dvc-pipeline:
          name: reference-example-dvc-pipeline
#          filters:
#            branches:
#              only:
#                - master

  webapp:
    jobs:
      - build-docker:
          name: webapp-build-docker
#          filters:
#            branches:
#              only:
#                - master
      - cloud-run-deploy:
          name: webapp-cloud-run-deploy
          requires:
            - webapp-build-docker
#          filters:
#            branches:
#              only:
#                - master
